---
import Layout from '../layouts/Layout.astro';
import AgencyProjectsSection from "../components/sections/04-agency-projects-section.astro";
import ClientProjectsSection from "../components/sections/03-client-projects-section.astro";
import ConnectSection from "../components/sections/06-connect-section.astro";
import HeroSection from "../components/sections/01-hero-section.astro";
import JourneySection from "../components/sections/02-journey-section.astro";
import SkillsSection from "../components/sections/05-skills-section.astro";
---

<Layout title="Thao's Portfolio">
	<main>
		<HeroSection id="hero" />
		<JourneySection id="journey" />
		<ClientProjectsSection id="client-showcase" />
		<AgencyProjectsSection id="agency-showcase" />
		<SkillsSection id="skills" />
		<ConnectSection id="connect" />
	</main>
</Layout>